################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InterpolAlert/v16
/.vs
/InterpolAlertSolution/.vs/InterpolAlertSolution/v16/Server/sqlite3
/InterpolAlertSolution/.vs/InterpolAlertSolution/v16
/InterpolAlertSolution/InterpolAlert/obj/Debug/netcoreapp3.1
/InterpolAlertSolution/InterpolAlert/obj
/InterpolAlertSolution/.vs/InterpolAlertSolution/DesignTimeBuild
/InterpolAlertSolution/.vs/InterpolAlertSolution/v15/.suo
/InterpolAlertSolution/InterpolAlertApi/obj
/InterpolAlertSolution/.vs/InterpolAlertSolution/config
/InterpolAlertSolution/InterpolAlert/bin/Debug/netcoreapp3.1/Properties
/InterpolAlertSolution/InterpolAlert/bin/Debug/netcoreapp3.1
