
@{
    ViewData["Title"] = "Index";
}

<h1>Lista operazioni Interpol</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <h2 class="card-title">Localita</h2>
                    <a asp-controller="localita" asp-action="Index" class="btn btn-outline-primary">Lista</a>
                    <a asp-controller="localita" asp-action="Create" class="btn btn-outline-primary">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <h2 class="card-title">Autori</h2>
                    <a asp-controller="autore" asp-action="Index" class="btn btn-outline-primary">Lista</a>
                    <a asp-controller="autore" asp-action="Create" class="btn btn-outline-primary">Add</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <h2 class="card-title">TipoEvento</h2>
                    <a asp-controller="TipoEvento" asp-action="Index" class="btn btn-outline-primary">Lista</a>
                    <a asp-controller="TipoEvento" asp-action="Create" class="btn btn-outline-primary">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <h2 class="card-title">TipoVittima</h2>
                    <a asp-controller="TipoVittima" asp-action="Index" class="btn btn-outline-primary">Lista</a>
                    <a asp-controller="TipoVittima" asp-action="Create" class="btn btn-outline-primary">Add</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <h2 class="card-title">Gravita</h2>
                    <a asp-controller="Gravita" asp-action="Index" class="btn btn-outline-primary">Lista</a>
                    <a asp-controller="Gravita" asp-action="Create" class="btn btn-outline-primary">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <h2 class="card-title">Esito</h2>
                    <a asp-controller="Esito" asp-action="Index" class="btn btn-outline-primary">Lista</a>
                    <a asp-controller="Esito" asp-action="Create" class="btn btn-outline-primary">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="col-sm-6">
            <div class="card bg-dark text-white">
                <img class="card-img" style="height: 200px;
    width: 100%;
    display: block;" src="https://widget-uploads.stackla.com/10/the-nature-conservancy/5c6dacf59d982/2019-09/488ae8ad11fa420a28c6b26a75fafc91_original.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>*@