@model InterpolAlert.Models.TipoVittimeSelectList

<select class="form-control" asp-for="TipoVittimaId" asp-items="@Model.TipoVittimeList">
    <option value="">Seleziona TipoVittima</option>
</select>

